# Babel.
.babelrc

# Config.
config/

# Contributing.
CONTRIBUTING.md

# DS Store.
.DS_Store

# Log Files.
*.log

# Jest.
jest.config.js

# README.
README.md

# Source.
source/

# TypeScript.
tsconfig.json
tslint.json

# Webpack.
webpack.config.js

# Yarn.
yarn-error.log
